body,
html {
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

.button {
  position: relative;
  display: flex;
  padding: 13px 48px 15px 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  text-align: center;
  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background-color: rgb(43, 108, 228);
  color: white;
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.button:hover {
  cursor: pointer;
  background-color: rgb(16, 67, 161);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}


.button--remove {

  background-color: rgba(201, 82, 82, 0.562);
  color: red;
  padding: 8px;
  width: 32px;
}


.button--remove:hover {
  cursor: pointer;
  background-color: rgb(104, 13, 13);
  transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}